@font-face {
	font-family: 'Fusion Pixel 12';
	src: url(fonts/fusion-pixel-12px-monospaced-zh_hant.ttf);
}

@font-face {
	font-family: 'Pixelated Times New Roman';
	src: url(fonts/pixelated-times-new-roman.otf);
}

@font-face {
	font-family: 'Taipei24';
	src: url(fonts/Taipei24.ttf);
}

body{background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/sky_hiru.png);
	background-size: cover;}

.applications{display: block;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 5px;
	text-align: center;
	opacity: 0.25;
	z-index: -1;
	}
	
button{display: inline;
	background: none; 
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	}
	
.name{color: #ffffff;
	text-shadow: 1px 1px #000000;
}

.titlebar{display: flex;
	justify-content: center;
}

.menubar{display: flex;
	justify-content: center;
}

.content{position: relative;
	width: 1276px;
	height: 945px;
	margin: auto;
	border: 1px solid #716F65;
	box-shadow: 0 0 0 1px #9D9DA1;
	background-color: white;
	overflow: auto;
}

.container{position: relative;
	margin: auto;
	width: 1278px;
	height: 62px;
	background-image: linear-gradient(to right, #f3f3ee, #e0e2ea);
	align-content: center;
}

.menu{display: flex;
	position: relative;
	flex-direction: row;
	align-content: center;
	gap: 25px;
	left: 10px;
}

.item{display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	gap: 5px;
}

.about{display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.hometown{width: 1024px;
	margin: auto;
}

.landscape{display: flex;
	justify-content: center;
}

a{font-family: 'Fusion Pixel 12';
	font-size: 18px;
	color: #000000;
	text-decoration: none;}
	
h1{font-family: 'Pixelated Times New Roman';
	font-size: 80px;
	text-align: center;
}

.title{font-family: 'Taipei24';
	font-size: 40px;
}

ul{font-family: 'Pixelated Times New Roman';
	font-size: 50px;
}

.chinese{font-family: 'Taipei24';
	font-size: 25px;
}