@font-face {
	font-family: 'Fusion Pixel 12';
	src: url(fonts/fusion-pixel-12px-monospaced-zh_hant.ttf);
}

body{background-image: url(images/sky_hiru.png);
	background-size: cover;}

.虎老彥{display: block;
	position: relative;
	top: 25px;}

button{display: inline;
	background: none; 
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	}

.applications{display: block;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 5px;
	text-align: center;
	}

.folders{display: flex;
	flex-direction: column;
	width: 100px;
	align-items: center;
	}	

.modal2{position: fixed;
	top: 75px;
	left: 150px;  
	display: none;
	}

.modal4{position: fixed;
	display: none;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

.close{position: absolute;
	cursor: pointer;
	color: white;
	background-color: transparent;
	border: none;
	top: 6.5px;
	right: 12px;
	}

.container{display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 50px;
	top: 100px;
	}

.parent{display: flex;
	justify-content: center;
	align-items: center;}

.hulaoyan{width: 911px;
	}

.copyright{position: relative;
	width: 125px;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 25px;
	}


a{font-family: 'Fusion Pixel 12';
	font-size: 18px;
	text-shadow: 1px 1px #000000;
	color: #ffffff;
	text-decoration: none;}

p{font-family: 'Fusion Pixel 12';
	font-size: 16px;
	color: #000000}
